In [1]:
import os

In [17]:
pwd

'/home/mittal'

In [24]:
cd/home/mittal/datasets/csv

/home/mittal/datasets/csv

In [25]:
pwd

'/home/mittal/datasets/csv'

In [60]:
import pandas as pd
x=pd.read_csv("LR_X.csv")
x

     0.26  0.08  0.28
0    0.26  0.52  0.01
1    0.85  0.60  0.14
2    0.94  0.22  0.48
3    0.53  0.05  0.76
4    0.07  0.59  0.63
..    ...   ...   ...
994  0.78  0.41  0.60
995  0.76  0.71  0.86
996  0.88  0.06  0.33
997  0.28  0.40  0.41
998  0.94  0.48  0.45

[999 rows x 3 columns]

In [71]:
y=pd.read_csv("LR_Y.csv")
y

     1.472
0    1.802
1    1.548
2    1.390
3    2.141
4    3.541
..     ...
994  2.245
995  3.471
996  0.796
997  2.406
998  1.870

[999 rows x 1 columns]

In [72]:
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)
x_train,x_test,y_train,y_test

(     0.26  0.08  0.28
 615  0.32  0.56  0.35
 949  0.24  0.40  0.37
 864  0.53  0.28  0.11
 821  0.08  0.11  0.07
 634  0.19  0.25  0.67
 ..    ...   ...   ...
 835  0.22  0.29  0.70
 192  0.08  0.33  0.24
 629  0.87  0.31  0.05
 559  0.64  0.66  0.36
 684  0.56  0.22  0.41

 [799 rows x 3 columns],      0.26  0.08  0.28
 722  0.79  0.21  1.00
 77   0.11  0.32  0.30
 877  0.92  0.53  0.96
 613  0.70  0.64  0.52
 903  0.67  0.41  0.14
 ..    ...   ...   ...
 150  0.47  0.06  0.72
 299  0.12  0.47  0.29
 239  0.61  0.76  0.98
 981  0.27  0.51  0.66
 435  0.10  0.17  0.92

 [200 rows x 3 columns],      1.472
 615  2.562
 949  2.366
 864  1.194
 821  1.289
 634  2.771
 ..     ...
 835  2.885
 192  2.125
 629  0.717
 559  2.410
 684  1.692

 [799 rows x 1 columns],      1.472
 722  2.693
 77   2.200
 877  3.121
 613  2.648
 903  1.365
 ..     ...
 150  2.146
 299  2.481
 239  4.020
 981  3.199
 435  3.261

 [200 rows x 1 columns])

In [73]:
regressor = LinearRegression()  
regressor.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [76]:
from sklearn import linear_model
regr = linear_model.LinearRegression()
regr.fit(x, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [78]:
regr.intercept_

array([1.])

In [79]:
regr.coef_

array([[-1.2,  2.1,  2.2]])

In [80]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso 
from sklearn.model_selection import train_test_split, cross_val_score

In [85]:
rif=linear_model.Ridge(alpha=2.0)
rif.fit(x, y)

Ridge(alpha=2.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [86]:
rif.coef_

array([[-1.16951928,  2.04796901,  2.14707307]])